td[contenteditable="true"] {
    outline: none;
}

td[contenteditable="true"]:empty::before {
    content: attr(placeholder);
    color: gray;
    cursor: text;
    white-space: nowrap;
}

.number-input {
    width: 6ch;
    text-align: center;
}

th, td.center {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    position: sticky;
    position: -webkit-sticky;
}

#back-to-top {
    font-size: 2rem;
    border: solid var(--primary-color);
    border-width: 0 var(--bold-thickness) var(--bold-thickness) 0;
    display: inline-block;
    padding: 0.75rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

#loading {
    margin-top: 3px;
}
